#contactMe {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#contactMe svg {
  height: 24px;
  width: auto;
  padding-right: 10px;
  stroke: white;
  fill: white;
}

.logoContacts {
  height: 40px;
  width: auto;
  padding-left: 20px;
}
