.logoContacts {
  height: 35px;
  width: auto;
  padding-left: 20px;
}

#contactMe {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#contactMe svg {
  height: 24px;
  width: auto;
  padding-right: 10px;
  stroke: white;
  fill: white;
}

#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
  margin:0 auto;
  padding-bottom:40px;
}

#submit-button{
  align-self: flex-start;
  position:relative;
  left:85px;
}

