/* animations */

.zdog-canvas {
  background: transparent;
  cursor: move;
  margin: 0 20px 0 5px;
  position: absolute;
  top: 80px;
  z-index: 3;
}

/* bubble icons */

.circles {
  position: absolute;
  top: 50px;
  left: 0;
  width: 95vw;
  height: 90vh;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  animation: animate 25s linear infinite;
  bottom: -150px;
  border: antiquewhite;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 60px;
}

.circles li:nth-child(2) {
  left: 5%;
  width: 150px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 88%;
  width: 100px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 55%;
  width: 100px;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 55%;
  width: 50px;
}

.circles li:nth-child(6) {
  left: 2%;
  width: 400px;
  animation-delay: 20s;
}

.circles li:nth-child(7) {
  left: 80%;
  width: 40px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 60px;
  animation-delay: 1s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 90%;
  width: 50px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 50%;
  width: 50px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 4%;
  width: 100px;
  animation-delay: 2s;
  animation-duration: 11s;
}

.circles li:nth-child(12) {
  left: 40%;
  width: 40px;
  animation-delay: 2s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* JOSH COMEAU GRADIENT */

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    0deg,
    hsl(240deg 36% 89%) 0%,
    hsl(220deg 65% 88%) 4%,
    hsl(208deg 86% 86%) 9%,
    hsl(199deg 92% 83%) 13%,
    hsl(191deg 87% 79%) 17%,
    hsl(183deg 74% 74%) 22%,
    hsl(172deg 71% 73%) 26%,
    hsl(158deg 70% 75%) 30%,
    hsl(145deg 65% 75%) 35%,
    hsl(146deg 60% 72%) 39%,
    hsl(148deg 56% 68%) 43%,
    hsl(150deg 53% 64%) 48%,
    hsl(152deg 51% 60%) 52%,
    hsl(154deg 50% 56%) 57%,
    hsl(156deg 49% 52%) 61%,
    hsl(158deg 54% 47%) 65%,
    hsl(157deg 47% 52%) 70%,
    hsl(155deg 45% 60%) 74%,
    hsl(154deg 45% 67%) 78%,
    hsl(153deg 45% 74%) 83%,
    hsl(152deg 45% 81%) 87%,
    hsl(151deg 45% 87%) 91%,
    hsl(150deg 45% 94%) 96%,
    hsl(0deg 0% 100%) 100%
  );
}
