@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&family=VT323&display=swap"); /* navbar */
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@300&display=swap"); /* text hero page */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"); /* headers */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

/* --HERO PAGE-- */

/* bottom arrow */
html {
  scroll-behavior: smooth;
}

#arrow {
  position: fixed;
  bottom: 30px;
  right: 50px;
  height: 2rem;
  width: auto;
  border-radius: 60%;
  box-shadow: rgba(228, 255, 245, 0.461) 5px 3px 9px;
}

a {
  text-decoration: underline;
  font-size: 1.2rem;
  color: black;
}

a:hover {
  text-decoration: none;
}

.nav-container {
  width: 100%;
  background: rgb(241, 238, 238);
  box-shadow: rgb(49, 58, 42) 5px 5px 15px;
  position: relative;
  z-index: 2;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
  max-width: 1080px;
  margin: 0 auto;
}

#navbar a {
  font-family: "Azeret Mono", monospace;
}

/* text  */

#mainText {
  font-family: "Kalnia", serif;
  color: rgb(74, 45, 9);
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-shadow: white 15px 2px 15px;
  position: relative;
  z-index: 2;
}

#mainText p {
  line-height: 3rem;
}

#name {
  font-size: 4rem;
}

#softwareEngineer {
  font-size: 1.5rem;
  color: rgb(128, 85, 6);
  width: 335px;
}

/* text */

.text {
  font-family: "Questrial", sans-serif;
  font-size: 1.3rem;
  color: rgb(54, 34, 8);
}

/* picture */

#image {
  max-width: 370px;
  height: auto;
  box-shadow: black 15px 15px 15px;
  border-radius: 20%;
  display: block;
  position: relative;
  margin-right: 15vw;
  margin-top: 5vh;
  z-index: 2;
}

.socialMedia {
  width: 35px;
  height: 35px;
  margin: 7px;
  margin-top: 40px;
  border-radius: 60%;
  background-color: white;
  box-shadow: white 5px 5px 15px;
}

/* headers */

header {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
}

.oddLetter {
  color: rgb(41, 41, 220);
}
